@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
* {
  box-sizing: border-box;
}

.main-page {
  display: flex;
  width: 100%;
  height: 100%;
}

.spot-ratings {
  background: #ffffff;
  padding: 15px;
  width: 30%;
  overflow-y: auto;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 0;
}

body {
  background-image: linear-gradient(90deg, #1504d8, #2f0550) !important;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, label, span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}

body, html, .App, #root, .form-wrapper {
  width: 100%;
  height: 92%;
}

.loader {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.form-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.form-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.form-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.search-container {
  display: flex;
  flex-direction: column;
}

.search-input {
  display: flex;
}

.search-results {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}

.search-results .result-item {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}

.search-results::-webkit-scrollbar {
  display: none;
}

.result-item p {
  margin-left: 10px;
}

.page-view {
  background: white;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
}

.profile-container {
  display: flex;
}

.profile-details {
  width: 30%;
  padding: 20px;
}

.profile-picture {
  max-width: 100%;
  max-height: 100%;
}

.friend-container {
  display: flex;
}

.friends-list {
  padding: 20px;
}

.friend {
  padding: 20px;
}

.insights {
  display: flexbox;
}

.insight-section {
  border-style: solid;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.insight-header {
  display: flex;
}

h2.insight-header {
  margin: 0px;
}

.similar-session-input {
  display: inline-flex;
  padding-top: 20px;
  padding-bottom: 20px;
}